<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.AttendanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.AttendanceDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="month" property="month" />
        <result column="should_attendance_days" property="shouldAttendanceDays" />
        <result column="actual_attendance_days" property="actualAttendanceDays" />
        <result column="absenteeism_days" property="absenteeismDays" />
        <result column="travel_days" property="travelDays" />
        <result column="out_days" property="outDays" />
        <result column="late_times" property="lateTimes" />
        <result column="late_minutes" property="lateMinutes" />
        <result column="leave_early_times" property="leaveEarlyTimes" />
        <result column="leave_early_minutes" property="leaveEarlyMinutes" />
        <result column="card_miss_times" property="cardMissTimes" />
        <result column="sign_card_times" property="signCardTimes" />
        <result column="overtime_week_hours" property="overtimeWeekHours" />
        <result column="overtime_weekend_hours" property="overtimeWeekendHours" />
        <result column="overtime_festival_hours" property="overtimeFestivalHours" />
        <result column="annual_leave_days" property="annualLeaveDays" />
        <result column="compensatory_leave_days" property="compensatoryLeaveDays" />
        <result column="family_planning_leave_days" property="familyPlanningLeaveDays" />
        <result column="maternity_leave_days" property="maternityLeaveDays" />
        <result column="holiday_leave_days" property="holidayLeaveDays" />
        <result column="sick_leave_days" property="sickLeaveDays" />
        <result column="absence_leave_days" property="absenceLeaveDays" />
        <result column="exceptional_case_days" property="exceptionalCaseDays" />
        <result column="injury_leave_days" property="injuryLeaveDays" />
        <result column="marriage_leave_days" property="marriageLeaveDays" />
        <result column="lactation_leave_days" property="lactationLeaveDays" />
        <result column="only_child_leave_days" property="onlyChildLeaveDays" />
        <result column="nursing_leave" property="nursingLeave" />
        <result column="bereavement_leave" property="bereavementLeave" />
        <result column="duty_week" property="dutyWeek" />
        <result column="duty_before_week" property="dutyBeforeWeek" />
        <result column="duty_before_festival" property="dutyBeforeFestival" />
        <result column="duty_weekend" property="dutyWeekend" />
        <result column="duty_festival" property="dutyFestival" />
        <result column="duty_out_spring" property="dutyOutSpring" />
        <result column="duty_in_spring" property="dutyInSpring" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>
    
    <select id="getAttendancePage" resultType="com.hbjs.hrscommon.dto.AttendanceDTO">
        select a.id, a.staff_id, s.staff_code, s.staff_name, s.dep_id,
               a.month, a.should_attendance_days, a.actual_attendance_days, a.absenteeism_days, a.travel_days, a.out_days,
               a.late_times, a.late_minutes, a.leave_early_times, a.leave_early_minutes, a.card_miss_times, a.sign_card_times,
               a.overtime_week_hours, a.overtime_weekend_hours, a.overtime_festival_hours, a.annual_leave_days,
               a.compensatory_leave_days, a.family_planning_leave_days, a.maternity_leave_days, a.holiday_leave_days,
               a.sick_leave_days, a.absence_leave_days, a.exceptional_case_days, a.injury_leave_days, a.marriage_leave_days,
               a.lactation_leave_days, a.only_child_leave_days, a.nursing_leave, a.bereavement_leave,
               a.duty_week, a.duty_before_week, a.duty_before_festival, a.duty_weekend, a.duty_festival, a.duty_out_spring,
               a.duty_in_spring, a.remarks,
               a.created_by, a.created_date, a.last_modified_by, a.last_modified_date
        from hr_attendance a
            left join hr_staff s on a.staff_id = s.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
            <if test="month != null">
                and date_format(a.month, '%Y-%m')  = #{month}
            </if>
        </where>
    </select>

    <select id="getAttendanceById" resultType="com.hbjs.hrscommon.dto.AttendanceDTO">
        select a.id, a.staff_id, s.staff_code, s.staff_name, s.dep_id,
               a.month, a.should_attendance_days, a.actual_attendance_days, a.absenteeism_days, a.travel_days, a.out_days,
               a.late_times, a.late_minutes, a.leave_early_times, a.leave_early_minutes, a.card_miss_times, a.sign_card_times,
               a.overtime_week_hours, a.overtime_weekend_hours, a.overtime_festival_hours, a.annual_leave_days,
               a.compensatory_leave_days, a.family_planning_leave_days, a.maternity_leave_days, a.holiday_leave_days,
               a.sick_leave_days, a.absence_leave_days, a.exceptional_case_days, a.injury_leave_days, a.marriage_leave_days,
               a.lactation_leave_days, a.only_child_leave_days, a.nursing_leave, a.bereavement_leave,
               a.duty_week, a.duty_before_week, a.duty_before_festival, a.duty_weekend, a.duty_festival, a.duty_out_spring,
               a.duty_in_spring, a.remarks,
               a.created_by, a.created_date, a.last_modified_by, a.last_modified_date
        from hr_attendance a
                 left join hr_staff s on a.staff_id = s.id
        where a.id = #{attendanceId}
    </select>

    <select id="getAttendanceByStaffCodeAndMonth" resultType="com.hbjs.hrscommon.dto.AttendanceDTO">
        select a.id, a.staff_id, s.staff_code, s.staff_name, s.dep_id,
               a.month, a.should_attendance_days, a.actual_attendance_days, a.absenteeism_days, a.travel_days, a.out_days,
               a.late_times, a.late_minutes, a.leave_early_times, a.leave_early_minutes, a.card_miss_times, a.sign_card_times,
               a.overtime_week_hours, a.overtime_weekend_hours, a.overtime_festival_hours, a.annual_leave_days,
               a.compensatory_leave_days, a.family_planning_leave_days, a.maternity_leave_days, a.holiday_leave_days,
               a.sick_leave_days, a.absence_leave_days, a.exceptional_case_days, a.injury_leave_days, a.marriage_leave_days,
               a.lactation_leave_days, a.only_child_leave_days, a.nursing_leave, a.bereavement_leave,
               a.duty_week, a.duty_before_week, a.duty_before_festival, a.duty_weekend, a.duty_festival, a.duty_out_spring,
               a.duty_in_spring, a.remarks,
               a.created_by, a.created_date, a.last_modified_by, a.last_modified_date
        from hr_attendance a
                 left join hr_staff s on a.staff_id = s.id
        where s.staff_code = #{staffCode} and date_format(a.month, '%Y-%m')  = #{month}
    </select>

    <select id="getAttendanceExcelList" resultType="com.hbjs.hrscommon.excel.AttendanceExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
            select a.id, a.staff_id, s.staff_code, s.staff_name, s.dep_id,
                a.month, a.should_attendance_days, a.actual_attendance_days, a.absenteeism_days, a.travel_days, a.out_days,
                a.late_times, a.late_minutes, a.leave_early_times, a.leave_early_minutes, a.card_miss_times, a.sign_card_times,
                a.overtime_week_hours, a.overtime_weekend_hours, a.overtime_festival_hours, a.annual_leave_days,
                a.compensatory_leave_days, a.family_planning_leave_days, a.maternity_leave_days, a.holiday_leave_days,
                a.sick_leave_days, a.absence_leave_days, a.exceptional_case_days, a.injury_leave_days, a.marriage_leave_days,
                a.lactation_leave_days, a.only_child_leave_days, a.nursing_leave, a.bereavement_leave,
                a.duty_week, a.duty_before_week, a.duty_before_festival, a.duty_weekend, a.duty_festival, a.duty_out_spring,
                a.duty_in_spring, a.remarks,
                a.created_by, a.created_date, a.last_modified_by, a.last_modified_date
            from hr_attendance a
                left join hr_staff s on a.staff_id = s.id
                left join sys_department d on d.id = s.dep_id
            <where>
                <if test="keyword != null and keyword != ''">
                    and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
                </if>
                <if test="depId != null">
                    and s.dep_id = #{depId}
                </if>
                <if test="month != null">
                    and date_format(a.month, '%Y-%m')  = #{month}
                </if>
            </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
