<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.CertificateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.CertificateDO">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="number" property="number" />
        <result column="obtain_date" property="obtainDate" />
        <result column="issue_unit" property="issueUnit" />
        <result column="file_id" property="fileId" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getCertificatePage" resultType="com.hbjs.hrscommon.dto.CertificateDTO">
        select id, pid, name, type, number, obtain_date, issue_unit, file_id,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_certificate
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or relation like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getCertificateListByPid" resultType="com.hbjs.hrscommon.dto.CertificateDTO">
        select id, pid, name, type, number, obtain_date, issue_unit, file_id,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_certificate
        where pid = #{pid}
    </select>

    <delete id="deleteCertificateByStaffId">
        delete from hr_certificate where pid = #{staffId}
    </delete>

</mapper>
