<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.sys.DictionaryDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="express" property="express" />
        <result column="pid" property="pid" />
        <result column="priority" property="priority" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getDictionaryByPid" resultType="com.hbjs.hrscommon.dto.DictionaryDTO">
        select id, name, code, express, pid, priority, description,
               created_by, created_date, last_modified_by, last_modified_date
        from sys_dictionary
        <where>
            <if test="pid == null">
                and pid is null
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or code like concat ('%', #{keyword}, '%')
                or description like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getDictionaryChildrenByPid" resultType="com.hbjs.hrscommon.dto.DictionaryDTO">
        select distinct d1.id, d1.name, d1.code, d1.express, d1.pid, d1.priority, d1.description,
            (case when d2.id is not null then 1 else 0 end) as hasChildren,
            d1.created_by, d1.created_date, d1.last_modified_by, d1.last_modified_date
        from sys_dictionary d1
        left join sys_dictionary d2 on d1.id = d2.pid
        <where>
            <if test="pid == null">
                and d1.pid is null
            </if>
            <if test="pid != null">
                and d1.pid = #{pid}
            </if>
            <if test="keyword != null and keyword != ''">
                and (d1.name like concat ('%', #{keyword}, '%') or d1.code like concat ('%', #{keyword}, '%')
                    or d1.description like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getDictionaryByCode" resultType="com.hbjs.hrscommon.dto.DictionaryDTO">
        select id, name, code, express, pid, priority, description,
               created_by, created_date, last_modified_by, last_modified_date
        from sys_dictionary
        where code = #{code}
    </select>

</mapper>
