<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.DriverLicenseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.DriverLicenseDO">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="modal" property="modal" />
        <result column="number" property="number" />
        <result column="obtain_date" property="obtainDate" />
        <result column="expiration_date" property="expirationDate" />
        <result column="inside" property="inside" />
        <result column="inside_expiration_date" property="insideExpirationDate" />
        <result column="file_id" property="fileId" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getDriverLicensePage" resultType="com.hbjs.hrscommon.dto.DriverLicenseDTO">
        select id, pid, modal, number, obtain_date, expiration_date, inside, inside_expiration_date, file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_driver_license
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or relation like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getDriverLicenseListByPid" resultType="com.hbjs.hrscommon.dto.DriverLicenseDTO">
        select id, pid, modal, number, obtain_date, expiration_date, inside, inside_expiration_date, file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_driver_license
        where pid = #{pid}
    </select>

    <delete id="deleteDriverLicenseByStaffId">
        delete from hr_driver_license where pid = #{staffId}
    </delete>

    <select id="getDriverLicenseExcelList" resultType="com.hbjs.hrscommon.excel.DriverLicenseExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
        select d.name as depName, s.staff_code, s.staff_name,
            dl.modal, dl.number, dl.obtain_date, dl.expiration_date, dl.inside, dl.inside_expiration_date, dl.file_id, dl.remarks
        from hr_driver_license dl
        left join hr_staff s on s.id = dl.pid
        left join sys_department d on s.dep_id = d.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
            <if test="companyState != null and companyState != ''">
                and s.company_state = #{companyState}
            </if>
            <if test="postLevel != null and postLevel != ''">
                and s.post_level = #{postLevel}
            </if>
        </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
