<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.EducationalExperienceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.EducationalExperienceDO">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="school_name" property="schoolName" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="education" property="education" />
        <result column="major" property="major" />
        <result column="study_years" property="studyYears" />
        <result column="full_time" property="fullTime" />
        <result column="witness_name" property="witnessName" />
        <result column="witness_phone" property="witnessPhone" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getEducationalExperiencePage" resultType="com.hbjs.hrscommon.dto.EducationalExperienceDTO">
        select id, pid, school_name, start_date, end_date, education, major, study_years, full_time,
            witness_name, witness_phone,
            created_by, created_date, last_modified_by, last_modified_date
        from hr_educational_experience
        <where>
            <if test="keyword != null and keyword != ''">
                and (school_name like concat ('%', #{keyword}, '%') or education like concat ('%', #{keyword}, '%')
                or major like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getEducationalExperienceListByPid" resultType="com.hbjs.hrscommon.dto.EducationalExperienceDTO">
        select id, pid, school_name, start_date, end_date, education, major, study_years, full_time,
               witness_name, witness_phone,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_educational_experience
        where pid = #{pid}
    </select>

</mapper>
