<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.PerformanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.PerformanceDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="year" property="year" />
        <result column="quarter" property="quarter" />
        <result column="appraise" property="appraise" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>
    
    <select id="getPerformancePage" resultType="com.hbjs.hrscommon.dto.PerformanceDTO">
        select p.id, p.staff_id, p.year, p.quarter, p.appraise, p.remarks,
               s.staff_code, s.staff_name, s.dep_id,
               p.created_by, p.created_date, p.last_modified_by, p.last_modified_date
        from hr_performance p
            left join hr_staff s on p.staff_id = s.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
            <if test="year != null">
                and p.year = #{year}
            </if>
            <if test="quarter != null">
                and p.quarter = #{quarter}
            </if>
        </where>
    </select>

    <select id="getPerformanceById" resultType="com.hbjs.hrscommon.dto.PerformanceDTO">
        select p.id, p.staff_id, p.year, p.quarter, p.appraise, p.remarks,
               s.staff_code, s.staff_name, s.dep_id,
               p.created_by, p.created_date, p.last_modified_by, p.last_modified_date
        from hr_performance p
                 left join hr_staff s on p.staff_id = s.id
        where p.id = #{performanceId}
    </select>

    <select id="getPerformanceByStaffCodeAndYearAndQuarter" resultType="com.hbjs.hrscommon.dto.PerformanceDTO">
        select p.id, p.staff_id, p.year, p.quarter, p.appraise, p.remarks,
               s.staff_code, s.staff_name, s.dep_id,
               p.created_by, p.created_date, p.last_modified_by, p.last_modified_date
        from hr_performance p
                 left join hr_staff s on p.staff_id = s.id
        where s.staff_code = #{staffCode} and p.year = #{year} and p.quarter = #{quarter}
    </select>

    <select id="getPerformanceExcelList" resultType="com.hbjs.hrscommon.excel.PerformanceExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
            select d.name as dep_name, s.staff_code, s.staff_name, p.year, p.quarter, p.appraise, p.remarks
            from hr_performance p
                left join hr_staff s on p.staff_id = s.id
                left join sys_department d on d.id = s.dep_id
            <where>
                <if test="keyword != null and keyword != ''">
                    and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
                </if>
                <if test="depId != null">
                    and s.dep_id = #{depId}
                </if>
                <if test="year != null">
                    and p.year = #{year}
                </if>
                <if test="quarter != null">
                    and p.quarter = #{quarter}
                </if>
            </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
