<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.PerformanceSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.PerformanceSettingDO">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="start_month" property="startMonth" />
        <result column="end_month" property="endMonth" />
        <result column="year" property="year" />
        <result column="quarter" property="quarter" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getPerformanceSettingPage" resultType="com.hbjs.hrscommon.dto.PerformanceSettingDTO">
        select id, name, start_month, end_month, year, quarter, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_performance_setting
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or code like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getPerformanceSettingList" resultType="com.hbjs.hrscommon.dto.PerformanceSettingDTO">
        select id, name, start_month, end_month, year, quarter, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_performance_setting
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or code like concat ('%', #{keyword}, '%'))
            </if>
        </where>
        order by year desc, quarter desc
    </select>

</mapper>
