<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.QualificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.QualificationDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="qualification" property="qualification" />
        <result column="profession" property="profession" />
        <result column="level" property="level" />
        <result column="work_type" property="workType" />
        <result column="number" property="number" />
        <result column="obtain_date" property="obtainDate" />
        <result column="issue_company" property="issueCompany" />
        <result column="highest" property="highest" />
        <result column="file_id" property="fileId" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getQualificationPage" resultType="com.hbjs.hrscommon.dto.QualificationDTO">
        select id, staff_id, qualification, profession, level, work_type, number, obtain_date, issue_company, highest,
               file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_qualification
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or relation like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getQualificationListByStaffId" resultType="com.hbjs.hrscommon.dto.QualificationDTO">
        select id, staff_id, qualification, profession, level, work_type, number, obtain_date, issue_company, highest,
               file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_qualification
        where staff_id = #{staffId}
    </select>

    <delete id="deleteQualificationByStaffId">
        delete from hr_qualification where staff_id = #{staffId}
    </delete>

    <select id="getQualificationExcelList" resultType="com.hbjs.hrscommon.excel.QualificationExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
        select d.name as depName, s.staff_code, s.staff_name,
            q.qualification, q.profession, q.level, q.work_type, q.number, q.obtain_date, q.issue_company, q.highest, q.remarks
        from hr_qualification q
        left join hr_staff s on s.id = q.staff_id
        left join sys_department d on s.dep_id = d.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
            <if test="companyState != null and companyState != ''">
                and s.company_state = #{companyState}
            </if>
            <if test="postLevel != null and postLevel != ''">
                and s.post_level = #{postLevel}
            </if>
        </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
