<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbgs.hrsrepo.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sbgs.hrscommon.domain.sys.RoleDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="identification" property="identification" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="com.sbgs.hrscommon.dto.RoleDTO" id="RoleResourceMap">
        <id property="id" column="id"></id>
        <collection property="menus" column="id" select="com.sbgs.hrsrepo.mapper.MenuMapper.getMenuByRoleId">
        </collection>
        <collection property="resources" column="id" select="com.sbgs.hrsrepo.mapper.ResourceMapper.getResourceByRoleId">
        </collection>
    </resultMap>

    <select id="getRoleDetailById" resultMap="RoleResourceMap">
        select id, `name`, identification, description,
               created_by, created_date, last_modified_by, last_modified_date
        from sys_role
        where id = #{roleId}
    </select>

    <select id="getRolePage" resultType="com.sbgs.hrscommon.dto.RoleDTO">
        select id, `name`, identification, description, created_by, created_date, last_modified_by, last_modified_date
        from sys_role
        <if test="keyword != null">
            where `name` like concat ('%', #{keyword}, '%') or identification like concat ('%', #{keyword}, '%')
            or description like concat ('%', #{keyword}, '%')
        </if>
    </select>

</mapper>
