<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.SalaryChangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.SalaryChangeDO">
        <result column="id" property="id" />
        <result column="pre_basic_salary" property="preBasicSalary" />
        <result column="post_basic_salary" property="postBasicSalary" />
        <result column="pre_post_salary" property="prePostSalary" />
        <result column="post_post_salary" property="postPostSalary" />
        <result column="pre_accumulation_fund" property="preAccumulationFund" />
        <result column="post_accumulation_fund" property="postAccumulationFund" />
        <result column="pre_have_one_child_allowance" property="preHaveOneChildAllowance" />
        <result column="post_have_one_child_allowance" property="postHaveOneChildAllowance" />
        <result column="pre_safety_grade" property="preSafetyGrade" />
        <result column="post_safety_grade" property="postSafetyGrade" />
        <result column="pre_hot_weather_grade" property="preHotWeatherGrade" />
        <result column="post_hot_weather_grade" property="postHotWeatherGrade" />
        <result column="effective_date" property="effectiveDate" />
        <result column="change_date" property="changeDate" />
        <result column="executed" property="executed" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getSalaryChangePage" resultType="com.hbjs.hrscommon.dto.SalaryChangeDTO">
        select sc.id, sc.staff_id, s.dep_id, s.staff_name, s.staff_code, sc.pre_basic_salary, sc.post_basic_salary,
               sc.pre_post_salary, sc.post_post_salary, sc.pre_accumulation_fund, sc.post_accumulation_fund,
               sc.pre_have_one_child_allowance, sc.post_have_one_child_allowance,
               sc.pre_safety_grade, sc.post_safety_grade, sc.pre_hot_weather_grade, sc.post_hot_weather_grade,
               sc.effective_date, sc.change_date, sc.executed, sc.remarks,
               sc.created_by, sc.created_date, sc.last_modified_by, sc.last_modified_date
        from hr_salary_change sc
        left join hr_staff s on sc.staff_id = s.id
        <where>
            <if test="staffId != null">
                and sc.staff_id = #{staffId}
            </if>
            <if test="keyword != null and keyword != ''">
                and (s.staff_name like concat ('%', #{keyword}, '%') or s.staff_code like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
        </where>
    </select>

    <select id="getSalaryChangeById" resultType="com.hbjs.hrscommon.dto.SalaryChangeDTO">
        select sc.id, sc.staff_id, s.dep_id, s.staff_name, s.staff_code, sc.pre_basic_salary, sc.post_basic_salary,
               sc.pre_post_salary, sc.post_post_salary, sc.pre_accumulation_fund, sc.post_accumulation_fund,
               sc.pre_have_one_child_allowance, sc.post_have_one_child_allowance,
               sc.pre_safety_grade, sc.post_safety_grade, sc.pre_hot_weather_grade, sc.post_hot_weather_grade,
               sc.effective_date, sc.change_date, sc.executed, sc.remarks,
               sc.created_by, sc.created_date, sc.last_modified_by, sc.last_modified_date
        from hr_salary_change sc
        left join hr_staff s on sc.staff_id = s.id
        where sc.id = #{salaryChangeId}
    </select>

    <select id="getSalaryChangeInDays" resultType="com.hbjs.hrscommon.dto.SalaryChangeDTO">
        select sc.id, sc.staff_id, s.dep_id, s.staff_name, s.staff_code, sc.pre_basic_salary, sc.post_basic_salary,
               sc.pre_post_salary, sc.post_post_salary, sc.pre_accumulation_fund, sc.post_accumulation_fund,
               sc.pre_have_one_child_allowance, sc.post_have_one_child_allowance,
               sc.pre_safety_grade, sc.post_safety_grade, sc.pre_hot_weather_grade, sc.post_hot_weather_grade,
               sc.effective_date, sc.change_date, sc.executed, sc.remarks,
               sc.created_by, sc.created_date, sc.last_modified_by, sc.last_modified_date
        from hr_salary_change
        where DATE_FORMAT(sc.change_date, '%Y-%m-%d') &gt;= DATE_SUB(curdate(), interval #{days} day)
          and DATE_FORMAT(sc.change_date, '%Y-%m-%d') &lt;= DATE_FORMAT(curdate(), '%Y-%m-%d')
    </select>

    <select id="getSalaryChangeExcelList" resultType="com.hbjs.hrscommon.excel.SalaryChangeExportExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
        select d.name as depName, s.staff_code, s.staff_name,
            sc.pre_basic_salary, sc.post_basic_salary, sc.pre_post_salary, sc.post_post_salary,
            sc.pre_accumulation_fund, sc.post_accumulation_fund, sc.pre_have_one_child_allowance,
            sc.post_have_one_child_allowance, sc.pre_safety_grade, sc.post_safety_grade,
            sc.pre_hot_weather_grade, sc.post_hot_weather_grade,
            sc.effective_date, sc.change_date, sc.executed, sc.remarks
        from hr_salary_change sc
        left join hr_staff s on sc.staff_id = s.id
        left join sys_department d on s.dep_id = d.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
        </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
