<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.SalarySettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.SalarySettingDO">
        <result column="id" property="id" />
        <result column="accumulation_fund_rate" property="accumulationFundRate" />
        <result column="endowment_insurance_rate" property="endowmentInsuranceRate" />
        <result column="unemployment_insurance_rate" property="unemploymentInsuranceRate" />
        <result column="medical_insurance_rate" property="medicalInsuranceRate" />
        <result column="endowment_insurance_lower" property="endowmentInsuranceLower" />
        <result column="endowment_insurance_upper" property="endowmentInsuranceUpper" />
        <result column="unemployment_insurance_lower" property="unemploymentInsuranceLower" />
        <result column="unemployment_insurance_upper" property="unemploymentInsuranceUpper" />
        <result column="medical_insurance_lower" property="medicalInsuranceLower" />
        <result column="medical_insurance_upper" property="medicalInsuranceUpper" />
        <result column="merit_salary" property="meritSalary" />
        <result column="merit_a" property="meritA" />
        <result column="merit_b" property="meritB" />
        <result column="merit_c" property="meritC" />
        <result column="merit_d" property="meritD" />
        <result column="merit_e" property="meritE" />
        <result column="merit_f" property="meritF" />
        <result column="full_attendance_allowance" property="fullAttendanceAllowance" />
        <result column="meal_allowance" property="mealAllowance" />
        <result column="traffic_allowance_own_a" property="trafficAllowanceOwnA" />
        <result column="traffic_allowance_own_b" property="trafficAllowanceOwnB" />
        <result column="traffic_allowance_own_c" property="trafficAllowanceOwnC" />
        <result column="traffic_allowance_bus_a" property="trafficAllowanceBusA" />
        <result column="traffic_allowance_bus_b" property="trafficAllowanceBusB" />
        <result column="traffic_allowance_bus_c" property="trafficAllowanceBusC" />
        <result column="safety_allowance_a" property="safetyAllowanceA" />
        <result column="safety_allowance_b" property="safetyAllowanceB" />
        <result column="safety_allowance_c" property="safetyAllowanceC" />
        <result column="one_child_allowance" property="oneChildAllowance" />
        <result column="hot_weather_start_month" property="hotWeatherStartMonth" />
        <result column="hot_weather_end_month" property="hotWeatherEndMonth" />
        <result column="hot_weather_allowance_a" property="hotWeatherAllowanceA" />
        <result column="hot_weather_allowance_b" property="hotWeatherAllowanceB" />
        <result column="hot_weather_allowance_c" property="hotWeatherAllowanceC" />
        <result column="duty_week_fee" property="dutyWeekFee" />
        <result column="duty_before_week_fee" property="dutyBeforeWeekFee" />
        <result column="duty_before_festival_fee" property="dutyBeforeFestivalFee" />
        <result column="duty_weekend_fee" property="dutyWeekendFee" />
        <result column="duty_festival_fee" property="dutyFestivalFee" />
        <result column="duty_out_spring_fee" property="dutyOutSpringFee" />
        <result column="duty_in_spring_fee" property="dutyInSpringFee" />
        <result column="union_fees" property="unionFees" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>
    
    <select id="getSalarySettingPage" resultType="com.hbjs.hrscommon.dto.SalarySettingDTO">
        select ss.id, ss.accumulation_fund_rate, ss.endowment_insurance_rate, ss.unemployment_insurance_rate, ss.medical_insurance_rate,
               ss.endowment_insurance_lower, ss.endowment_insurance_upper, ss.unemployment_insurance_lower,
               ss.unemployment_insurance_upper, ss.medical_insurance_lower, ss.medical_insurance_upper,
               ss.merit_salary, ss.merit_a, ss.merit_b, ss.merit_c, ss.merit_d, ss.merit_e, ss.merit_f,
               ss.full_attendance_allowance, ss.meal_allowance, ss.traffic_allowance_own_a,
               ss.traffic_allowance_own_b, ss.traffic_allowance_own_c, ss.traffic_allowance_bus_a, ss.traffic_allowance_bus_b,
               ss.traffic_allowance_bus_c, ss.safety_allowance_a, ss.safety_allowance_b, ss.safety_allowance_c, ss.one_child_allowance,
               ss.hot_weather_start_month, ss.hot_weather_end_month, ss.hot_weather_allowance_a, ss.hot_weather_allowance_b,
               ss.hot_weather_allowance_c, ss.duty_week_fee, ss.duty_before_week_fee, ss.duty_before_festival_fee, ss.duty_weekend_fee,
               ss.duty_festival_fee, ss.duty_out_spring_fee, ss.duty_in_spring_fee, ss.union_fees, ss.remarks,
               ss.created_by, u.name as createdByName, ss.created_date, ss.last_modified_by, ss.last_modified_date
        from hr_salary_setting ss
            left join sys_user u on u.id = ss.created_by
    </select>

    <select id="getSalarySettingById" resultType="com.hbjs.hrscommon.dto.SalarySettingDTO">
        select id, accumulation_fund_rate, endowment_insurance_rate, unemployment_insurance_rate, medical_insurance_rate,
               endowment_insurance_lower, endowment_insurance_upper, unemployment_insurance_lower,
               unemployment_insurance_upper, medical_insurance_lower, medical_insurance_upper,
               merit_salary, merit_a, merit_b, merit_c, merit_d, merit_e, merit_f,
               full_attendance_allowance, meal_allowance, traffic_allowance_own_a,
               traffic_allowance_own_b, traffic_allowance_own_c, traffic_allowance_bus_a, traffic_allowance_bus_b,
               traffic_allowance_bus_c, safety_allowance_a, safety_allowance_b, safety_allowance_c, one_child_allowance,
               hot_weather_start_month, hot_weather_end_month, hot_weather_allowance_a, hot_weather_allowance_b,
               hot_weather_allowance_c, duty_week_fee, duty_before_week_fee, duty_before_festival_fee, duty_weekend_fee,
               duty_festival_fee, duty_out_spring_fee, duty_in_spring_fee, union_fees, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_salary_setting
        where id = #{salarySettingId}
    </select>

    <select id="getSalarySettingNew" resultType="com.hbjs.hrscommon.dto.SalarySettingDTO">
        select id, accumulation_fund_rate, endowment_insurance_rate, unemployment_insurance_rate, medical_insurance_rate,
               endowment_insurance_lower, endowment_insurance_upper, unemployment_insurance_lower,
               unemployment_insurance_upper, medical_insurance_lower, medical_insurance_upper,
               merit_salary, merit_a, merit_b, merit_c, merit_d, merit_e, merit_f,
               full_attendance_allowance, meal_allowance, traffic_allowance_own_a,
               traffic_allowance_own_b, traffic_allowance_own_c, traffic_allowance_bus_a, traffic_allowance_bus_b,
               traffic_allowance_bus_c, safety_allowance_a, safety_allowance_b, safety_allowance_c, one_child_allowance,
               hot_weather_start_month, hot_weather_end_month, hot_weather_allowance_a, hot_weather_allowance_b,
               hot_weather_allowance_c, duty_week_fee, duty_before_week_fee, duty_before_festival_fee, duty_weekend_fee,
               duty_festival_fee, duty_out_spring_fee, duty_in_spring_fee, union_fees, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_salary_setting
        order by last_modified_date desc limit 1
    </select>

</mapper>
