<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.SalaryStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.SalaryStaffDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="basic_salary" property="basicSalary" />
        <result column="post_salary" property="postSalary" />
        <result column="accumulation_fund" property="accumulationFund" />
        <result column="have_one_child_allowance" property="haveOneChildAllowance" />
        <result column="safety_grade" property="safetyGrade" />
        <result column="hot_weather_grade" property="hotWeatherGrade" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getSalaryStaffPage" resultType="com.hbjs.hrscommon.dto.SalaryStaffDTO">
        select ss.id, ss.staff_id, s.staff_code, s.staff_name, s.dep_id,
               ss.basic_salary, ss.post_salary, ss.accumulation_fund, ss.have_one_child_allowance, ss.safety_grade, ss.hot_weather_grade,
               ss.created_by, ss.created_date, ss.last_modified_by, ss.last_modified_date
        from hr_salary_staff ss
            left join hr_staff s on ss.staff_id = s.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
        </where>
    </select>

    <select id="getSalaryStaffById" resultType="com.hbjs.hrscommon.dto.SalaryStaffDTO">
        select ss.id, ss.staff_id, s.staff_code, s.staff_name, s.dep_id,
               ss.basic_salary, ss.post_salary, ss.accumulation_fund, ss.have_one_child_allowance, ss.safety_grade, ss.hot_weather_grade,
               ss.created_by, ss.created_date, ss.last_modified_by, ss.last_modified_date
        from hr_salary_staff ss
            left join hr_staff s on ss.staff_id = s.id
        where ss.id = #{salaryStaffId}
    </select>

    <select id="getSalaryStaffByStaffId" resultType="com.hbjs.hrscommon.dto.SalaryStaffDTO">
        select ss.id, ss.staff_id, s.staff_code, s.staff_name, s.dep_id,
               ss.basic_salary, ss.post_salary, ss.accumulation_fund, ss.have_one_child_allowance, ss.safety_grade, ss.hot_weather_grade,
               ss.created_by, ss.created_date, ss.last_modified_by, ss.last_modified_date
        from hr_salary_staff ss
                 left join hr_staff s on ss.staff_id = s.id
        where s.id = #{staffId}
    </select>

    <select id="getSalaryStaffByStaffCode" resultType="com.hbjs.hrscommon.dto.SalaryStaffDTO">
        select ss.id, ss.staff_id, s.staff_code, s.staff_name, s.dep_id,
               ss.basic_salary, ss.post_salary, ss.accumulation_fund, ss.have_one_child_allowance, ss.safety_grade, ss.hot_weather_grade,
               ss.created_by, ss.created_date, ss.last_modified_by, ss.last_modified_date
        from hr_salary_staff ss
            left join hr_staff s on ss.staff_id = s.id
        where s.staff_code = #{staffCode}
    </select>

    <select id="getSalaryStaffExcelList" resultType="com.hbjs.hrscommon.excel.SalaryStaffExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
            select d.name as depName, ss.staff_id, s.staff_code, s.staff_name, s.dep_id,
                ss.basic_salary, ss.post_salary, ss.accumulation_fund, ss.have_one_child_allowance, ss.safety_grade, ss.hot_weather_grade,
            from hr_salary_staff ss
                left join hr_staff s on ss.staff_id = s.id
                left join sys_department d on s.dep_id = d.id
            <where>
                <if test="keyword != null and keyword != ''">
                    and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
                </if>
                <if test="depId != null">
                    and s.dep_id = #{depId}
                </if>
            </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
