<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.StaffDO">
        <result column="id" property="id" />
        <result column="staff_code" property="staffCode" />
        <result column="staff_name" property="staffName" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="id_number" property="idNumber" />
        <result column="dep_id" property="depId" />
        <result column="company_state" property="companyState" />
        <result column="duty" property="duty" />
        <result column="post" property="post" />
        <result column="post_type" property="postType" />
        <result column="post_level" property="postLevel" />
        <result column="work_date" property="workDate" />
        <result column="entry_gac_date" property="entryGacDate" />
        <result column="entry_date" property="entryDate" />
        <result column="departure_date" property="departureDate" />
        <result column="social_security_number" property="socialSecurityNumber" />
        <result column="bank_card_number" property="bankCardNumber" />
        <result column="bank_name" property="bankName" />
        <result column="personal_photo" property="personalPhoto" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getStaffPage" resultType="com.hbjs.hrscommon.dto.StaffDTO">
        select id, staff_code, staff_name, sex, birthday, id_number, dep_id, company_state, duty, post, post_type,
               post_level, work_date, entry_gac_date, entry_date, departure_date, social_security_number,
               bank_card_number, bank_name, personal_photo,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_staff
        <where>
            <if test="keyword != null and keyword != ''">
                and (staff_code like concat ('%', #{keyword}, '%') or staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and dep_id = #{depId}
            </if>
            <if test="companyState != null and companyState != ''">
                and company_state = #{companyState}
            </if>
            <if test="postLevel != null and postLevel != ''">
                and post_level = #{postLevel}
            </if>
        </where>
    </select>

    <select id="getStaffByStaffCode" resultType="com.hbjs.hrscommon.dto.StaffDTO">
        select id, staff_code, staff_name, sex, birthday, id_number, dep_id, company_state, duty, post, post_type,
               post_level, work_date, entry_gac_date, entry_date, departure_date, social_security_number,
               bank_card_number, bank_name, personal_photo,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_staff
        where staff_code = #{staffCode}
    </select>

    <select id="getStaffExcelList" resultType="com.hbjs.hrscommon.excel.StaffExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
            select s.id, s.staff_code, s.staff_name, d.name as depName, s.company_state, s.duty, s.post, s.post_type, s.post_level,
                s.sex, s.nation, s.birthday, s.work_date, s.entry_date, s.politics, s.education, s.degree, s.marital_status,
                s.spouse_name, s.marriage_certificate, s.marriage_date, s.children_number, s.id_number, s.phone,
                s.social_security_number, concat(birth_address_province, s.birth_address_city) as birth_address,
                concat(native_address_province, s.native_address_city) as native_address, s.household_type,
                concat(s.registered_address_province, s.registered_address_city, s.registered_address_area, s.registered_address_detail) as registered_address,
                concat(s.home_address_province, s.home_address_city, s.home_address_area, s.home_address_detail) as home_address,
                concat(s.current_address_province, s.current_address_city, s.current_address_area, s.current_address_detail) as current_address,
                concat(s.postal_address_province, s.postal_address_city, s.postal_address_area, s.postal_address_detail) as postal_address,
                s.emergency_contact_name, s.emergency_contact_relation, s.emergency_contact_phone,
                s.created_by, s.created_date, s.last_modified_by, s.last_modified_date
            from hr_staff s
            left join sys_department d on s.dep_id = d.id
            <where>
                <if test="keyword != null and keyword != ''">
                    and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
                </if>
                <if test="depId != null">
                    and s.dep_id = #{depId}
                </if>
            </where>
        ) t, (SELECT @rownum:=0) r
    </select>

    <select id="getStaffListOnJob" resultType="com.hbjs.hrscommon.dto.StaffDTO">
        select id, staff_code, staff_name, sex, birthday, id_number, dep_id, company_state, duty, post, post_type,
               post_level, work_date, entry_gac_date, entry_date, departure_date, social_security_number,
               bank_card_number, bank_name, personal_photo,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_staff
        <where>
            DATE_FORMAT(entry_date, '%Y-%m') &lt;= #{month}
            and ( departure_date is null or DATE_FORMAT(departure_date, '%Y-%m') &gt;= #{month} )
            <if test="depId != null">
                and dep_id = #{depId}
            </if>
            <if test="staffCode != null and staffCode != ''">
                and staff_code = #{staffCode}
            </if>
        </where>
    </select>

</mapper>
