<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.StaffInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.StaffInfoDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="nation" property="nation" />
        <result column="politics" property="politics" />
        <result column="education" property="education" />
        <result column="major" property="major" />
        <result column="school_name" property="schoolName" />
        <result column="degree" property="degree" />
        <result column="parental_support" property="parentalSupport" />
        <result column="physical_condition" property="physicalCondition" />
        <result column="medical_history" property="medicalHistory" />
        <result column="weight" property="weight" />
        <result column="height" property="height" />
        <result column="vision" property="vision" />
        <result column="blood_type" property="bloodType" />
        <result column="specialty" property="specialty" />
        <result column="hobby" property="hobby" />
        <result column="phone" property="phone" />
        <result column="home_phone" property="homePhone" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="native_address_province" property="nativeAddressProvince" />
        <result column="native_address_city" property="nativeAddressCity" />
        <result column="birth_address_province" property="birthAddressProvince" />
        <result column="birth_address_city" property="birthAddressCity" />
        <result column="household_type" property="householdType" />
        <result column="registered_address_province" property="registeredAddressProvince" />
        <result column="registered_address_city" property="registeredAddressCity" />
        <result column="registered_address_area" property="registeredAddressArea" />
        <result column="registered_address_detail" property="registeredAddressDetail" />
        <result column="home_address_province" property="homeAddressProvince" />
        <result column="home_address_city" property="homeAddressCity" />
        <result column="home_address_area" property="homeAddressArea" />
        <result column="home_address_detail" property="homeAddressDetail" />
        <result column="current_address_province" property="currentAddressProvince" />
        <result column="current_address_city" property="currentAddressCity" />
        <result column="current_address_area" property="currentAddressArea" />
        <result column="current_address_detail" property="currentAddressDetail" />
        <result column="postal_address_province" property="postalAddressProvince" />
        <result column="postal_address_city" property="postalAddressCity" />
        <result column="postal_address_area" property="postalAddressArea" />
        <result column="postal_address_detail" property="postalAddressDetail" />
        <result column="emergency_contact_name" property="emergencyContactName" />
        <result column="emergency_contact_relation" property="emergencyContactRelation" />
        <result column="emergency_contact_phone" property="emergencyContactPhone" />
        <result column="marital_status" property="maritalStatus" />
        <result column="marriage_date" property="marriageDate" />
        <result column="spouse_name" property="spouseName" />
        <result column="spouse_education" property="spouseEducation" />
        <result column="spouse_physical_condition" property="spousePhysicalCondition" />
        <result column="marriage_certificate" property="marriageCertificate" />
        <result column="fertility" property="fertility" />
        <result column="children_number" property="childrenNumber" />
        <result column="in_army" property="inArmy" />
        <result column="troop_base" property="troopBase" />
        <result column="enlistment_date" property="enlistmentDate" />
        <result column="discharge_date" property="dischargeDate" />
        <result column="discharge_rank" property="dischargeRank" />
        <result column="honour" property="honour" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getStaffInfoById" resultType="com.hbjs.hrscommon.dto.StaffInfoDTO">
        select id, staff_id, nation, politics, education, major, school_name, degree, parental_support, physical_condition,
               medical_history, weight, height, vision, blood_type, specialty, hobby, phone, home_phone, email, qq,
               native_address_province, native_address_city, birth_address_province, birth_address_city, household_type,
               registered_address_province, registered_address_city, registered_address_area, registered_address_detail,
               home_address_province, home_address_city, home_address_area, home_address_detail, current_address_province,
               current_address_city, current_address_area, current_address_detail, postal_address_province, postal_address_city,
               postal_address_area, postal_address_detail, emergency_contact_name, emergency_contact_relation,
               emergency_contact_phone, marital_status, marriage_date, spouse_name, spouse_education, spouse_physical_condition,
               marriage_certificate, fertility, children_number, in_army, troop_base, enlistment_date, discharge_date,
               discharge_rank, honour,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_staff_info
        where id = #{id}
    </select>

    <select id="getStaffInfoByStaffId" resultType="com.hbjs.hrscommon.dto.StaffInfoDTO">
        select id, staff_id, nation, politics, education, major, school_name, degree, parental_support, physical_condition,
               medical_history, weight, height, vision, blood_type, specialty, hobby, phone, home_phone, email, qq,
               native_address_province, native_address_city, birth_address_province, birth_address_city, household_type,
               registered_address_province, registered_address_city, registered_address_area, registered_address_detail,
               home_address_province, home_address_city, home_address_area, home_address_detail, current_address_province,
               current_address_city, current_address_area, current_address_detail, postal_address_province, postal_address_city,
               postal_address_area, postal_address_detail, emergency_contact_name, emergency_contact_relation,
               emergency_contact_phone, marital_status, marriage_date, spouse_name, spouse_education, spouse_physical_condition,
               marriage_certificate, fertility, children_number, in_army, troop_base, enlistment_date, discharge_date,
               discharge_rank, honour,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_staff_info
        where staff_id = #{staffId}
    </select>

    <select id="getStaffInfoByStaffCode" resultType="com.hbjs.hrscommon.dto.StaffInfoDTO">
        select si.id, si.staff_id, si.nation, si.politics, si.education, si.major, si.school_name, si.degree,
               si.parental_support, si.physical_condition, si.medical_history, si.weight, si.height, si.vision,
               si.blood_type, si.specialty, si.hobby, si.phone, si.home_phone, si.email, si.qq, si.native_address_province,
               si.native_address_city, si.birth_address_province, si.birth_address_city, si.household_type,
               si.registered_address_province, si.registered_address_city, si.registered_address_area, si.registered_address_detail,
               si.home_address_province, si.home_address_city, si.home_address_area, si.home_address_detail,
               si.current_address_province, si.current_address_city, si.current_address_area, si.current_address_detail,
               si.postal_address_province, si.postal_address_city, si.postal_address_area, si.postal_address_detail,
               si.emergency_contact_name, si.emergency_contact_relation, si.emergency_contact_phone, si.marital_status,
               si.marriage_date, si.spouse_name, si.spouse_education, si.spouse_physical_condition, si.marriage_certificate,
               si.fertility, si.children_number, si.in_army, si.troop_base, si.enlistment_date, si.discharge_date,
               si.discharge_rank, si.honour,
               si.created_by, si.created_date, si.last_modified_by, si.last_modified_date
        from hr_staff_info si
            left join hr_staff s on si.staff_id = s.id
        where s.staff_code = #{staffCode}
    </select>

    <delete id="deleteStaffInfoByStaffId">
        delete from hr_staff_info where staff_id = #{staffId}
    </delete>

</mapper>
