<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.TitleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.TitleDO">
        <result column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="title" property="title" />
        <result column="level" property="level" />
        <result column="number" property="number" />
        <result column="evaluation_date" property="evaluationDate" />
        <result column="end_date" property="endDate" />
        <result column="issue_company" property="issueCompany" />
        <result column="highest" property="highest" />
        <result column="file_id" property="fileId" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getTitlePage" resultType="com.hbjs.hrscommon.dto.TitleDTO">
        select id, staff_id, title, level, number, evaluation_date, end_date, issue_company, highest, file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_title
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or relation like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getTitleListByStaffId" resultType="com.hbjs.hrscommon.dto.TitleDTO">
        select id, staff_id, title, level, number, evaluation_date, end_date, issue_company, highest, file_id, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_title
        where staff_id = #{staffId}
    </select>

    <delete id="deleteTitleByStaffId">
        delete from hr_title where staff_id = #{staffId}
    </delete>

</mapper>
