<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbjs.hrsrepo.mapper.WorkExperienceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hbjs.hrscommon.domain.hr.WorkExperienceDO">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="work_company" property="workCompany" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="department" property="department" />
        <result column="duty" property="duty" />
        <result column="post" property="post" />
        <result column="company_type" property="companyType" />
        <result column="salary" property="salary" />
        <result column="witness_name" property="witnessName" />
        <result column="witness_phone" property="witnessPhone" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <select id="getWorkExperiencePage" resultType="com.hbjs.hrscommon.dto.WorkExperienceDTO">
        select id, pid, work_company, start_date, end_date, department, duty, post, company_type, salary, witness_name, witness_phone, remarks,
            created_by, created_date, last_modified_by, last_modified_date
        from hr_work_experience
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat ('%', #{keyword}, '%') or relation like concat ('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getWorkExperienceListByPid" resultType="com.hbjs.hrscommon.dto.WorkExperienceDTO">
        select id, pid, work_company, start_date, end_date, department, duty, post, company_type, salary, witness_name, witness_phone, remarks,
               created_by, created_date, last_modified_by, last_modified_date
        from hr_work_experience
        where pid = #{pid}
    </select>

    <delete id="deleteWorkExperienceByStaffId">
        delete from hr_work_experience where pid = #{staffId}
    </delete>

    <select id="getWorkExperienceExcelList" resultType="com.hbjs.hrscommon.excel.WorkExperienceExcel">
        select @rownum:=@rownum+1 as rowNum, t.* from (
            select d.name as depName, s.staff_code, s.staff_name,
                w.work_company, w.start_date, w.end_date, w.department, w.duty, w.post, w.company_type, w.salary,
                w.witness_name, w.witness_phone, w.remarks
            from hr_work_experience w
            left join hr_staff s on s.id = w.staff_id
            left join sys_department d on s.dep_id = d.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (s.staff_code like concat ('%', #{keyword}, '%') or s.staff_name like concat ('%', #{keyword}, '%'))
            </if>
            <if test="depId != null">
                and s.dep_id = #{depId}
            </if>
            <if test="companyState != null and companyState != ''">
                and s.company_state = #{companyState}
            </if>
            <if test="postLevel != null and postLevel != ''">
                and s.post_level = #{postLevel}
            </if>
        </where>
        ) t, (SELECT @rownum:=0) r
    </select>

</mapper>
